<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UADetection.js · ahomiya.com</title>
    <meta name="description" content="Lightweight JavaScript-based User-Agent detection plugin.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <style>
      body {
        font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-weight: 300;
      }
    </style>
    <script src="dist/ua-parser.min.js"></script>
    <script src="dist/ua-detection.min.js"></script>
  </head>
  <body>

    <!-- Site or application content... -->
    <p>UADetection.js, Lightweight JavaScript-based User-Agent detection plugin.</p>

  </body>
</html>
