// Settings and Configurations
// Grouping all the app-wide settings into one file allows newcomers to
// the project the means to find out what's available to them quickly.
// -----------------------------------------------------------------------------

// Paths
$path-reference         : relative;
$path-package           : "./component/package/";
$path-vendor            : "vendor/";
$path-image             : "img";
$path-font              : "fonts";

// URLs
@function reference-url($path-reference) {
  @if ($path-reference == relative) { $reference: "../"; }
  @if ($path-reference == absolute) { $reference: "/"; }
  @return $reference;
}

@function font-url($asset) {
  @return url(reference-url($path-reference) + $path-font + "/" + $asset);
}

@function image-url($asset) {
  @return url(reference-url($path-reference) + $path-image + "/" + $asset);
}

// -----------------------------------------------------------------------------
// Fonts

// Regular
@font-face {
  font-family: "Font-Regular";
  src: font-url("Caviar.Dreams-Regular.ttf");
}

// Bold
@font-face {
  font-family: "Font-Bold";
  src: font-url("Caviar.Dreams-Bold.ttf");
}

// Italic
@font-face {
  font-family: "Font-Italic";
  src: font-url("Caviar.Dreams-Italic.ttf");
}

// -----------------------------------------------------------------------------

// OS
$os-mac                 : ".OS-Mac &";
$os-windows             : ".OS-Windows &";
$os-ios                 : ".OS-iOS &";
$os-android             : ".OS-Android &";


// Browsers
$browser-chrome         : ".Browser-Chrome &";
$browser-safari         : ".Browser-Safari &";
$browser-firefox        : ".Browser-Firefox &";
$browser-ie             : ".Browser-IE &";
$browser-ie-08          : ".Browser-IE8 &";
$browser-ie-09          : ".Browser-IE9 &";
$browser-ie-10          : ".Browser-IE10 &";
$browser-ie-11          : ".Browser-IE11 &";
$browser-legacy         : ".Browser-Legacy &";
$browser-android        : ".Browser-Android &";


// Devices
$device-mouse           : ".no-touch &";
$device-touch           : ".touch &";
$device-tablet          : ".Device-Tablet &";
$device-mobile          : ".Device-Mobile &";
$device-iphone          : ".Device-iPhone &";
$device-ipad            : ".Device-iPad &";
$device-ipod            : ".Device-iPod &";
$device-s4              : ".Device-S4 &";
$device-s5              : ".Device-S5 &";


// Ratios
$ratio-retina           : 2;
