// Configurable variables
// Declar variables that can beused throughout stylesheets.
// -----------------------------------------------------------------------------

// Fonts
$font-family-regular         : Font-Regular;
$font-family-bold            : Font-Bold;
$font-family-light           : Font-Light;
$font-family-italic          : Font-Italic;

$font-family-websafe         : Arial, Helvetica, sans-serif;
$font-family-default         : "HelveticaNeue-Light",
                               "Helvetica Neue Light",
                               "Helvetica Neue",
                               Helvetica,
                               Arial,
                               "Lucida Grande",
                               sans-serif;

$font-family-base            : $font-family-default;
$font-size-base              : 16px;

$font-weight-base            : 300;


// Line-height
$line-height-base            : 20px;


// Grid
$grid-width-min              : 320px;
$grid-width-max              : 1920px;

$grid-width-small            : 100%;
$grid-width-medium           : 768px;
$grid-width-large            : 1280px;
$grid-width-xlarge           : 1440px;
$grid-width-xxlarge          : 1920px;

$grid-padding-small          : 20px;
$grid-padding-medium         : 20px;
$grid-padding-large          : 20px;
$grid-padding-xlarge         : 20px;
$grid-padding-xxlarge        : 20px;

$grid-gutter-small           : 40px;
$grid-gutter-medium          : 40px;
$grid-gutter-large           : 40px;
$grid-gutter-xlarge          : 40px;
$grid-gutter-xxlarge         : 40px;

$grid-column-small           : 12;
$grid-column-medium          : 12;
$grid-column-large           : 12;
$grid-column-xlarge          : 12;
$grid-column-xxlarge         : 12;

$grid-breakpoint-small       : 320px;
$grid-breakpoint-medium      : 768px;
$grid-breakpoint-large       : 1280px;
$grid-breakpoint-xlarge      : 1440px;
$grid-breakpoint-xxlarge     : 1920px;


// Colors
$color-base                  : #666;
$color-light                 : #999;
$color-bright                : #fff;
$color-primary               : #000;
$color-highlight             : #bbb;
$color-selection             : #b3d4fc;


// Backgrounds
$bkg-color-base              : #fff;
$bkg-color-primary           : #000;
$bkg-color-highlight         : #bbb;


// Links
$link-color-normal           : #666;
$link-color-hover            : #000;
$link-color-active           : #000;
$link-bkg-normal             : #fff;
$link-bkg-hover              : #fff;
$link-bkg-active             : #fff;

// -----------------------------------------------------------------------------
// DRAFT
// http://blog.getbootstrap.com/2015/08/19/bootstrap-4-alpha/
// https://github.com/twbs/bootstrap/tree/v4-dev

$gray-dark                   : #373a3c !default;
$gray-lighter                : #eceeef !default;

$brand-primary               : #0275d8 !default;

$body-bg                     : #fff !default;
$body-color                  : $gray-dark !default;

$font-family-sans-serif      : "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-base            : $font-family-sans-serif !default;
$font-size-root              : 16px !default;

$line-height                 : 1.5 !default;


$link-color                  : $brand-primary !default;
$link-hover-color            : darken($link-color, 15%) !default;
$link-hover-decoration       : underline !default;


$table-cell-padding          : .75rem !default;
$table-sm-cell-padding       : .3rem !default;

$table-bg                    : transparent !default;
$table-bg-accent             : #f9f9f9 !default;
$table-bg-hover              : #f5f5f5 !default;
$table-bg-active             : $table-bg-hover !default;

$table-border-color          : $gray-lighter !default;


$placeholder-color-normal    : #666;
$placeholder-color-error     : red;
$placeholder-color-disabled  : #999;
