// BASE
// A Base rule is applied to an element using an element selector.
// It is defining the default styling for how that element should look
// in all occurrences on the page.

// Normalize
// Small CSS file that provides better cross-browser consistency in the
// default styling of HTML elements.

@import "vendor/normalize";
// -----------------------------------------------------------------------------
// Defaults
* {
	&, &:before, &:after {
		@include box-sizing(border-box);
	}
}

html {
	-webkit-text-size-adjust: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
}

body {
	background-color: $bkg-color-base;
	color: $color-base;
	font: {
		family: $font-style-base;
		size: $font-size-base;
		style: normal;
		weight: normal;
	}
	line-height: $line-height-base;
}
// -----------------------------------------------------------------------------
// Block content
h1, h2, h3, h4, h5, h6 {
	line-height: 1;
	margin: 0;
}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
p {}
ul {}
ol {}
li {}
img { vertical-align: middle; }
// -----------------------------------------------------------------------------
// Forms


// -----------------------------------------------------------------------------
// Inline content
b,
strong {
	font-family: $font-style-bold;
	font-style: normal;
	font-weight: normal;
}

i,
em {}

small { font-size: 100%; }
a {
	color: $link-color-normal;
	text-decoration: none;
	@include transition(all 0.25s ease-in-out);
}
// -----------------------------------------------------------------------------
// Pseudo-elements
::-moz-selection {
  background: $color-selection;
  text-shadow: none;
}
::selection {
  background: $color-selection;
  text-shadow: none;
}
