// Base Styles

// A Base rule is applied to an element using an element selector,
// a descendent selector, or a child selector, along with any pseudo-classes.
// It is defining the default styling for how that element should look in
// all occurrences on the page.

// Prototype     : Bootstrap
// Documentation : http://v4-alpha.getbootstrap.com/content/reboot/
// Component     : https://github.com/twbs/bootstrap/blob/v4-dev/scss/_reboot.scss
// -----------------------------------------------------------------------------

// Page defaults

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: $font-size-root;
}

body {
  background-color: $body-bg;
  color: $body-color;
  font: {
    family: $font-family-base;
    size: $font-size-base;
  }
  line-height: $line-height;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
}

// -----------------------------------------------------------------------------
// Typography
// Text-level semantics

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: .5rem;
  margin-top: 0;
}

// Paragraphs
p {
  margin-bottom: 1rem;
  margin-top: 0;
}

// Abbreviations and acronyms
abbr[title],
abbr[data-original-title] {
  border-bottom: 1px dotted $abbr-border-color;
  cursor: help;
}

address {
  font-style: normal;
  line-height: inherit;
  margin-bottom: 1rem;
}

// Lists
ol,
ul,
dl {
  margin-bottom: 1rem;
  margin-top: 0;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

// -----------------------------------------------------------------------------
// Links

a {
  color: $link-color;
  text-decoration: none;

  @include hover-focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    @include tab-focus();
  }
}

// -----------------------------------------------------------------------------
// Code

pre {
  margin-bottom: 1rem;
  margin-top: 0;
}

// -----------------------------------------------------------------------------
// Figures

figure {
  margin: 0 0 1rem;
}

// -----------------------------------------------------------------------------
// Images

img {
  vertical-align: middle;
}

// -----------------------------------------------------------------------------
// iOS clickable elements

[role="button"] {
  cursor: pointer;
}

// -----------------------------------------------------------------------------
// Tables

table {
  background-color: $table-bg;
}

caption {
  caption-side: bottom;
  color: $text-muted;
  padding-bottom: $table-cell-padding;
  padding-top: $table-cell-padding;
  text-align: left;
}

th {
  text-align: left;
}

// -----------------------------------------------------------------------------
// Forms

label {
  display: inline-block;
  margin-bottom: .5rem;
}

input,
button,
select,
textarea {
  line-height: inherit;
  margin: 0;
}

textarea {
  resize: vertical;
}

fieldset {
  border: 0;
  margin: 0;
  min-width: 0;
  padding: 0;
}

legend {
  display: block;
  font-size: 1.5rem;
  line-height: inherit;
  margin-bottom: .5rem;
  padding: 0;
  width: 100%;
}

input[type="search"] {
  -webkit-appearance: none;
}

// -----------------------------------------------------------------------------
// Pseudo-elements

// Placeholders
::-webkit-input-placeholder {                                                     // WebKit
  position: relative;
  top: 2px;                                                                       // iOS 7
  top: 0;
  @include placeholder($placeholder-color-normal);
}

::-moz-placeholder          { @include placeholder($placeholder-color-normal); }  // Firefox 19+
:-moz-placeholder           { @include placeholder($placeholder-color-normal); }  // Firefox 18-
input:-ms-input-placeholder { @include placeholder($placeholder-color-normal); }  // IE10+
[placeholder].placeholder   { @include placeholder($placeholder-color-normal); }  // IE9

// Selections
::-moz-selection {
  background: $color-selection;
  text-shadow: none;
}

::selection {
  background: $color-selection;
  text-shadow: none;
}
